//Font Sizes
$font-size-regular: 1rem;
$font-size-large: 1.5rem;
$font-size-larger: 2rem;

//Border Radius
$border-small: 0.125rem;
$border-regular: 0.25rem;
$border-large: 0.375rem;
$border-larger: 0.5rem;

//Colours
$white: #ffffff;